<div class="jumbotron">
    <h1>About</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem magnam laborum rerum ratione atque dicta provident, debitis, commodi, sit sequi modi quidem quis dolorum accusantium officia nesciunt culpa, eaque iste quam mollitia molestiae vitae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate alias voluptate ipsum nemo illum ratione, doloribus esse nisi. Quisquam, quasi.</p>
    </div>
</div>
