<div class="jumbotron">
    <h1>Contact</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil alias modi voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora commodi at, distinctio laborum quidem ad similique, voluptate possimus! Vel iusto delectus quas commodi.</p>
    </div>
</div>
